<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre facultad:</strong>
  <%= @faculty.nombre_facultad %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
