<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre ciclo:</strong>
  <%= @school_cycle.nombre_ciclo %>
</p>

<%= link_to 'Edit', edit_school_cycle_path(@school_cycle) %> |
<%= link_to 'Back', school_cycles_path %>
